<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <title>Chart.js-HBar</title>
  </head>
  <body>
    <canvas id="hBarChart"></canvas>
    <script>
      var ctx = document.getElementById("hBarChart");
      var data = {
        labels: ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'June'],
        datasets: [
          {
            label: 'BlackCoffee',
            data: [300, 280, 340, 365, 310, 290],
            backgroundColor: 'rgba(241, 181, 237, 0.6)',
            borderColor: 'rgba(241, 181, 237, 1)',
            borderWidth: 1
          },
          {
            label: 'Latte',
            data: [250, 235, 260, 290, 320, 315],
            backgroundColor: 'rgba(154, 155, 238, 0.6)',
            borderColor: 'rgba(154, 155, 238, 1)',
            borderWidth: 1
          },
          {
            label: 'Mocha',
            data: [180, 230, 245, 275, 190, 210],
            backgroundColor: 'rgba(154, 238, 165, 0.6)',
            borderColor: 'rgba(154, 238, 165, 1)',
            borderWidth: 1
          }
        ]
      };
      var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Horizontal Bar Chart Sample'
          },
          legend: {
            position: 'top'
          },
          scales: {
            xAxes: [{
              ticks: {
                suggestedMin: 0,
                suggestedMax: 400,
                stepSize: 20
              }
            }]
          }
        }
      });
    </script>
  </body>
</html>
