{% extends "layout.html" %}

{% block body %}
    {% if errMsg %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{errMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Login</h1>
        </div>
        <form action="/login" method="post">
            <div class="form-group row justify-content-center">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    {% if session['email'] %}
                        <input name="email" type="email" placeholder="Email" value="{{session['email']}}" class="form-control" id="inputEmail" required>
                    {% else %}
                        <input name="email" type="email" placeholder="Email" class="form-control" id="inputEmail" required>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-6">
                    {% if session['password'] %}
                        <input name="password" type="password" placeholder="password" value="{{session['password']}}" class="form-control" id="inputPassword" required>
                    {% else %}
                        <input name="password" type="password" placeholder="password" class="form-control" id="inputPassword" required>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
