{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Login</h1>
        </div>
        <form action="/login" method="post">
            <div class="form-group row justify-content-center">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                  <input name="email" type="email" placeholder="Email" class="form-control" id="inputEmail" required>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-6">
                  <input name="password" type="password" placeholder="Password" class="form-control" id="inputPassword" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
